<div class="row" id="table-bordered">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List Events </h4>
            </div>
            <div class="card-body">
                <p class="card-text">   <button type="button" class="btn btn-primary">Create Event</button>
                    
                </p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Event Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Time zone</th>
                            <th>Unique Url</th>
                            <th>Description</th>
                            <th>Cover</th>
                            <th>participations</th>
                            <th>Domain</th>
                            <th>LogoUrl</th>
                            <th>Custom</th>
                            <th>Location Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                 
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="dropdown">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-outline-info">Update</button> &nbsp;
                                        <button type="button" class="btn btn-outline-success">Show</button>
                                        &nbsp;
                                        <form action="" method="POST">
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Bordered table end -->