 <!-- Basic multiple Column Form section start -->
 <section id="multiple-column-form">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Create your Event</h4>
              </div>

              <!--Form-->
              <div class="card-body">
                  <form class="form">
                      <div class="row">
                        <!--Event name-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="first-name-column">Event Name</label>
                                     <input type="text" id="first-name-column" class="form-control" placeholder="Event Name" name="fname-column">
                              </div>
                          </div>

                          <!--Start time-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="last-name-column"> Start Time</label>
                                  <input type="text" id="last-name-column" class="form-control" placeholder="Start Time" name="lname-column" />
                              </div>
                          </div>

                          <!--End time-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="city-column">End Time</label>
                                  <input type="text" id="city-column" class="form-control" placeholder="End Time" name="city-column" />
                              </div>
                          </div>

                          <!--Event type-->
                          
                          <!--Time zone-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="country-floating">Time Zone</label>
                                  <input type="text" id="country-floating" class="form-control" name="country-floating" placeholder="Time Zone" />
                              </div>
                          </div>

                          <!--Unique url-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="company-column">Unique Url</label>
                                  <input type="text" id="company-column" class="form-control" name="company-column" placeholder="Unique Url" />
                              </div>
                          </div>

                          <!--Description-->
                          <div class="col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="company-column">Description</label>
                                <input type="text" id="company-column" class="form-control" name="company-column" placeholder="Description" />
                            </div>
                         </div>

                         <!--Cover-->
                         <div class="col-md-6 col-12">
                          <label class="form-label" for="company-column">Cover</label>
                             <div class="input-group input-group-icon">
                                <input type="file" accept="image/*" name="cover" placeholder="Cover">
                             </div>
                        </div>

                        <!--participations-->
                        <div class="col-md-6 col-12">
                          <div class="mb-1">
                              <label class="form-label" for="company-column">Number of particpations</label>
                                <div class="input-group input-group-icon">
                                    <select name="locationType">
                                        <option value="1">Number of Particpants</option>
                                        <option value="1">100 participants</option>
                                        <option value="2">200 participants</option>
                                        <option value="3">300 participants</option>
                                    </select>  
                                </div>
                            </div>
                        </div>

                        <!--Domain-->
                          <div class="col-md-6 col-12">
                              <div class="mb-1">
                                  <label class="form-label" for="email-id-column">Domain</label>
                                  <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="Domain" />
                              </div>
                          </div>

                        <!--Logourl-->
                          <div class="col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="company-column">LogoUrl</label>
                                <input type="text" id="company-column" class="form-control" name="company-column" placeholder="LogoUrl" />
                            </div>
                        </div>

                        <!--Custom-->
                        <div class="col-md-6 col-12">
                            <div class="mb-1">
                                <label class="form-label" for="email-id-column">custom</label>
                                <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="custom" />
                            </div>
                        </div>

                        <!--Location Type-->
                        <div class="col-md-6 col-12">
                          <label class="form-label" for="company-column">Location Type</label>
                          <div class="input-group input-group-icon">
                            <select name="locationType">
                              <option value="1">Select Location Type</option>
                              <option value="1">Virtual</option>
                              <option value="2">Physical</option>
                              <option value="3">Hybrid</option>
                            </select>
                          </div>
                        </div>

                        <!--Facebook Link-->
                        <div class="col-md-6 col-12">
                          <div class="mb-1">
                              <label class="form-label" for="company-column">Facebook Link</label>
                              <input type="text" id="company-column" class="form-control" name="company-column" placeholder="Company" />
                          </div>
                      </div>

                      <!--Linkedin-->
                      <div class="col-md-6 col-12">
                          <div class="mb-1">
                              <label class="form-label" for="email-id-column">Linkedin Link</label>
                              <input type="email" id="email-id-column" class="form-control" name="email-id-column" placeholder="Email" />
                          </div>
                      </div>

                      <!--buttons-->
                          <div class="col-12">
                              <button type="reset" class="btn btn-primary me-1">Submit</button>&nbsp;
                              <button type="reset" class="btn btn-outline-secondary">Reset</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Basic Floating Label Form section end -->
