
<div class="app-content content">
  <div class="container">
    <form>
      <div class="row">
        <h4>Event Details</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Event Name" name="name">
          <div class="input-icon">
            <i class="fa fa-user"></i>
          </div>
        </div>

        <div class="input-group input-group-icon">
          <input type="datetime-local" placeholder="Start Date and Time" name="startDateTime">
          <div class="input-icon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>

        <div class="input-group input-group-icon">
          <input type="datetime-local" placeholder="End Date and Time" name="endDateTime">
          <div class="input-icon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>

        <div class="radio-buttons">
          <label><input type="radio" name="option" value="option1">Public</label>
          <label><input type="radio" name="option" value="option2">Private</label>
        </div>

        <div class="input-group input-group-icon">
          <input type="text" placeholder="Unique URL" name="uniqueUrl">
          <div class="input-icon">
            <i class="fa fa-link"></i>
          </div>
        </div> 
        <div class="input-group input-group-icon">
          <select name="locationType">
            <option value="1">Number of Particpants</option>
            <option value="1">100 participants</option>
            <option value="2">200 participants</option>
            <option value="3">300 participants</option>
          </select>
          <div class="input-icon">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Timezone" name="timezone">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Description" name="Description">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="State" name="State">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Date creation" name="Date creation">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="cover" name="cover">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Domain" name="Domain">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="LogoUrl" name="LogoUrl">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="customRightColumnBackground" name="customRightColumnBackground">
          <div class="input-icon">
            <i class="fa fa-clock"></i>
          </div>
        </div>
        </div>
      <div class="row">
        <h4>Event Location</h4>
        <div class="input-group input-group-icon">
          <select name="locationType">
            <option value="1">Select Location Type</option>
            <option value="1">Virtual</option>
            <option value="2">Physical</option>
            <option value="3">Hybrid</option>
          </select>
          <div class="input-icon">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input placeholder="Location Address" name="locationAddress">
          <div class="input-icon">
            <i class="fa fa-map-marker"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Event Organizer</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="category" name="category">
          <div class="input-icon">
            <i class="fa fa-user"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="organizer" name="organizer">
          <div class="input-icon">
            <i class="fa fa-image"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Additional Information</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Facebook Link" name="fb_link">
          <div class="input-icon">
            <i class="fa fa-facebook"></i>
          </div>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="LinkedIn Link" name="linkedin_link">
          <div class="input-icon">
            <i class="fa fa-linkedin"></i>
          </div>
        </div>
      </div>
        <div class="text-center">
          <button type="button" class="btn btn-success">Save</button>&nbsp;
          <button type="button" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>